---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
// import coverImage from "../assets/images/1.png";
import coverImage from "../assets/images/snowboarding.png";
---

<MainLayout activePage="about" pageTitle={siteConfig.title + " | About"}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.about?.title}</h1>
    <Image
      width={480}
      height={480}
      loading="eager"
      layout="constrained"
      class="rounded-4xl mb-8 mx-auto"
      src={coverImage}
      alt="An Astronaut walking on a terrain"
    />
    <p class="kanit-light text-left">
      {siteConfig.about?.text}
    </p>
    <p class="kanit-light text-left">
      如果您有任何建議或合作機會，歡迎聯繫我：
      <a
        href="mailto:contact@taro-h.com"
        class="text-skin-accent hover:underline">contact@taro-h.com</a
      >
    </p>
  </div>
</MainLayout>
